//$font_color: #333;
$bg-panel-top: rgba(125, 125, 125, 0.75);
$bg-grid-dark: rgba(125, 125, 125, 0.5);
$bg-panel-top_light: rgba(255, 255, 255, 0.75);


// a
$link_bg_hover: #129fcd;



// Colors
$blue: #129fcd;
$blue-dark: #077a9f; // #087a9f or #067a9f
$bg-dark: #7d7d7d; // #7e7e7e or rgba(125, 125, 125, 1);
$bg-dark-light: #a3a3a3; // #a4a4a4
$bg-light: #c6c6c6;
$bg-light2: #dddddd;
$bg-brown: #e3e3e3;
$border: #d9d9d9;  // #cfcfcf
$border-dark: #b8b8b8;
$bg-text: #e5f4fa;  // #e5f4f9 or #e5f4fb
$orange: #fb6d1f;

$brown: #3a3a3a;

$input-color: #929292;
$input-border: #e9e9e9;
$input-border-focus: #b6b5ba;
$input-background: #f4f4f4;
$select-down: #9c9c9c;


$admin-border: #cdcdcd;