@import "_color.scss";
@import "compass/css3";

/* For CKEDIT
==============================================================================*/
.ckeditor{
	width: 100%;
	height: 400px;
	overflow: auto;
	background: #fff;
	border: 1px solid #cacaca;
	padding: 5px;
	@include box-sizing(border-box);

	table{
		caption,
		tbody,
		thead,
		tfoot,
		td,
		th,
		tr{
			border: 1px solid gray !important;
			margin: auto;
		}
	}

}

#page{
	> fieldset > ol > li{
		border-top: none;
	}
	input[type=text]{
		display: inline-block;
		width: 100%;
	}
	.autoform-element-inner{
		width: 100%;
	}
}

.form-pages{
	.autoform-label{
		float: left;
		line-height: 30px;
	}
	ol li {
		display: block;
		padding: .5em 0;
	}
	.autoform-element-inner{
		width: 100%;
	}
	input[type="text"]{
		width: 100%;
	}
	textarea{
		width: 100%;
		resize: vertical;
	}
}


// FileUploader
// =====================================================================================================================
.admin_uploader{
	position: relative;

	.uploaded-photo{
		max-height: 90px;
		max-width: 585px;
	}
	.file-uploader .qq-upload-button{
		height: 94px;
		width: 94px;

		&:before{
			content: 'upload';
			width: 94px;
			height: 94px;
			line-height: 94px;
			text-indent: 0px;
		}
		&:after{
			display: none;
		}
	}
}
.file-uploader{
	position: absolute;
	display: block !important;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	input[type="file"]{
		height: 100%;
		font-size: auto;
		display: block;
	}

	.qq-upload-status,
	.qq-upload-list{
		display: none !important;
	}
	.qq-upload-button{
		position: relative;
		height: 174px;
		display: block;
		width: 174px;
		margin: 2px 0 0 2px;
		text-indent: -10000px;
		cursor: pointer !important;
		@include transition(0.3s all ease);


		&:before{
			content: 'upload photo';
			position: absolute;
			display: block;
			width: 174px;
			height: 174px;
			top: 0px;
			left: 0px;
			line-height: 174px;
			text-indent: 18px;
			font-size: 14px;
			text-align: center;
			color: $blue;
			opacity: 0;
			background-color: rgba(255, 255, 255, 0.8);
			@include transition(0.3s all ease);
		}
		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 32px;
			height: 32px;
			top: 50%;
			left: 40px;
			margin: -16px 0 0 -16px;
			opacity: 0;
			background: url(/resources/images/icons/icons.png) -896px 0px;
			@include transition(0.3s all ease);
		}
		&:hover{
			&:before,
			&:after{
				opacity: 1;
				@include transition(0.3s all ease);
			}
		}
	}
}
.fieldset_countries{
	> ol {
		> li {
			padding: 0px !important;
			line-height: 1em !important;

			input[type=checkbox] + label{
				cursor: pointer !important;
			}
		}
	}
}